@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    <strong>Email: </strong><a href="mailto:dev@scoopsvr.com">dev@scoopsvr.com</a><br />
    <strong>Reddit: </strong><a href="https://www.reddit.com/user/cinder0us">/u/cinder0us</a><br />
    <strong>Trello: </strong><a href="https://trello.com/b/mPZRsc78/scoops-community">Public board</a><br />
    <strong>Twitter: </strong><a href="https://twitter.com/Cinder0us">@@cinder0us</a><br />
</address>