
@{
    ViewBag.Title = "Credits";
}
assdfasd
<h2>Credits</h2>

<div class="col-sm-4">
    <h3>Music</h3>
    <ul>
        <li><a href="http://www.indiegamemusic.com/viewtrack.php?id=1331">Menu music</a></li>
        <li><a href="http://www.indiegamemusic.com/viewtrack.php?id=28">Arcade music</a></li>
    </ul>
</div>

<div class="col-sm-4">
    <h3>Sound Effects</h3>
    <ul>
        <li><a href="https://www.freesound.org/people/kwahmah_02/sounds/244932/">Strike buzzer</a></li>
        <li><a href="https://www.freesound.org/people/Robinhood76/sounds/98874/">Game over</a></li>
        <li><a href="https://www.freesound.org/people/kwahmah_02/sounds/275570/">New customer</a></li>
        <li><a href="https://www.freesound.org/people/jgreer/sounds/333629/">Order complete</a></li>
        <li><a href="https://www.freesound.org/people/brnck/sounds/257357/">Button click</a></li>
        <li><a href="https://www.freesound.org/people/PaulMorek/sounds/330046/">Money deposit</a></li>
        <li><a href="https://www.freesound.org/people/150112/sounds/324742/">Scooping</a></li>
    </ul>
</div>

<div class="col-sm-4">
    <h3>Models (WIP list)</h3>
    <ul>
        <li><a href="http://www.3delicious.net/index.php?a=detail&id=51968">Menu ice cream 1</a></li>
        <li><a href="http://www.turbosquid.com/3d-models/cornet-ice-cream-obj-free/1066755">Menu ice cream 2</a></li>
        <li><a href="https://www.assetstore.unity3d.com/en/#!/content/19973">Human Models</a></li>
    </ul>
</div>