@model ScoopsVRWeb.Classes.Post

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.date | @Model.title</h3>
    </div>
    <div class="panel-body">
        <!--Html.Raw(Model.content)-->
        @Model.content
    </div>
</div>