@{
    ViewBag.Title = "Roadmap";
}

<div class="col-md-12"><h2>Roadmap</h2></div>

<div class="col-sm-6">
    <div class="roadMap">
        <div class="roadMapHeader">
            <h2>Alpha</h2>
        </div>
        <div  class="roadMapBody">
            <ul>
                <li>Topppings (IE Sprinkles)</li>
                <li>Customer Tipping</li>
                <li>Basic Trick-Reward System</li>
                <li>Dirty Scooper/Water Mechanic</li>
                <li>Improved Object Interactions</li>
                <li>Kid Mode</li>
                <li>Scooper Mechanics Overhaul</li>
                <li>Ice Cream Physics Update</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="roadMap">
        <div class="roadMapHeader">
            <h2>Beta</h2>
        </div>
        <div class="roadMapBody">
            <ul>
                <li>Tycoon Mode - Start with a few bucks and a dream. Manage your supplies and watch your profits grow as you build an ice cream empire.</li>
                <li>Additional Flavors and Toppings</li>
                <li>Models - More customer variation, new scooper, new environments</li>
                <li>Difficulty Settings</li>
                <li>Challenge Mode - Time/Accuracy based challenges, compete for a spot on the leaderboard!</li>
            </ul>
        </div>

    </div>
</div>

<div class="col-md-12 text-center" style="display:none">
    <br />
    <img class="img-responsive" style="max-height: 700px; margin: 0 auto;" src="~/Content/Images/roadmap.png" />
</div>




