@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12 text-center">
        <br />
        <p>Scoops is a VR game built for the HTC Vive about managing your ice cream empire.</p>
        <img class="img-responsive" style="max-height: 700px; margin: 0 auto;" src="~/Content/Images/roadmap.png" />
    </div>

</div>


