
@{
    ViewBag.Title = "Download";
}

<h2>Currently the Alpha Demo is available for Scoops.</h2>

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Version History</div>
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Link</th>
                <th>Discuss</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0.1a</td>
                <td>9.18.16</td>
                <td><a href="https://dl.dropboxusercontent.com/u/1143818/Scoops/Scoops%200.1%20Pre-alpha.zip">Download</a></td>
                <td><a href="https://www.reddit.com/r/Vive/comments/53fbhv/scoops_01_prealpha_demo/">Reddit thread</a></td>
            </tr>
        </tbody>
    </table>
</div>
