@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

test
<h2>Trello Board</h2>

<p>For those unfamiliar, Trello is a great tool for developers. It allows the organization of a project's tasks and goals at several different levels.</p>
<p>Taking a page from the guys at <a href="http://cosmictripvr.com/">Cosmic Trip</a> and <a href="http://store.steampowered.com/app/489380/">QuiVR</a> I have created a public Trello board for the community of scoops.</p>
<p>This board is a great place to report bugs, request features, and provide any other feedback you'd like to communicate. Going forward I will try to update it with some of the items I am currently working on so the community can know what to expect.</p>

<a type="button" class="btn btn-primary" href="https://trello.com/b/mPZRsc78/scoops-community">Get Started On Trello</a>

